body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}
.item {
  background: #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}
button {
  background: #0078d4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
